body {
	font-family: roboto;
	
	/*background: #1c92d2;  
	background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);   
	background: linear-gradient(to left, #f2fcfe, #1c92d2);*/

	/*meridian*/
	/*background: #159957;  
	background: -webkit-linear-gradient(to left, #155799, #159957); 
	background: linear-gradient(to left, #155799, #159957); */

	
	/*scooter*/
	/*background: #36D1DC; 
	background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  
	background: linear-gradient(to left, #5B86E5, #36D1DC);*/ 

	/*Rose Water*/
	/*background: #E55D87;  
	background: -webkit-linear-gradient(to left, #5FC3E4, #E55D87);  
	background: linear-gradient(to left, #5FC3E4, #E55D87); */

	OHhappiness
	background: #00b09b;  
	background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  
	background: linear-gradient(to left, #96c93d, #00b09b); 
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

#container {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.3s linear;
	opacity: 0;

}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.fa-pencil {
	float: right;
}















